*{
    margin:0;
    padding:0;
}

div{
    border:1px solid black;
}
#header{
    display:flex; 
    justify-content: flex-end;
    /* padding-right: 20px; */
    border:1px solid black;
    max-width: 1300px;
    padding: 0 16px; 
    margin: 0 auto;
}

#header ul{
    display: flex;
    list-style: none;
    align-items: center;
}
 #header ul li{
     margin: 5px;
 }
 #header ul li a{
     text-decoration: none;
     color: black;
 }
 #header ul li .avatar{
     background-color: seagreen;
     height: 30px;
     width: 30px;
     border-radius: 15px;
     border: none;
     display: flex;
     align-items: center;
     justify-content: center;
     color: white;
 }